$color-primary: hsl(233, 13%, 49%);
$color-primary--dark: hsl(232, 13%, 33%);
$color-primary--light: hsl(240, 78%, 98%);
$color-secondary: hsl(234, 14%, 74%);
$color-secondary--light: hsl(0, 0%, 100%);
$color-tertiary: hsl(237, 63%, 64%);

$gradient-right: linear-gradient(
  to right,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);
$gradient-bottom: linear-gradient(
  to bottom,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $color-primary;
  background: {
    color: $color-primary--light;
    image: url('../../images/bg-top.svg');
    repeat: no-repeat;
    size: contain;
    position: top -3.5rem right -19.5rem;
  }
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-rows: 1fr auto;
}
